body{
    background-color:grey;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 420px;
    margin: 40px auto;
        
  }

h1  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    background-color: white;
}
