body {
    background-color: grey;
    margin: 0 auto;
    text-align: center;
}
header{
    background-color: white;
    width: 100%;
}
div.post{
    width: 600px;
    margin: auto;
}
div.container{
    width: 600px;
    margin: auto;
    background-color: white;
}
div.container img{
    width: 100%;
}
div.container h2, div.container p {
    padding: 5px;
}


/*.Foto1{
    width: 300px;
    height: 300px;
}

